{% extends "myteam/base.html" %}
{% load static %}

{% block body %}
    <body style="background: transparent url({% static 'myteam/img/field.png' %}) no-repeat scroll center top;background-position-y: 7%;">
{% endblock body %}

{% block content %}

  <div class="field-large col s12">
    <div class="lineup">
      <div class="field-player" style="top:5.37%;left:2.8%">
        <span class="field-avatar popover popover-right">
            <img src="https://cdn.sofifa.org/players/4/19/165153.png">
        </span>
        <a href="/player/192119/thibaut-courtois/" title="Thibaut Courtois" class="bp3-button bp3-minimal bp3-small nowrap">
          
          &nbsp;T. Courtois
        </a>
      </div>
      <div class="field-player" style="top:4.95%;left:73.2%">
        <span class="field-avatar popover popover-right">
            <img data-src="https://cdn.sofifa.org/players/4/19/165153.png">
        </span>
        <a href="/player/192119/thibaut-courtois/" title="Thibaut Courtois" class="bp3-button bp3-minimal bp3-small nowrap">
          
          &nbsp;T. Courtois
        </a>
      </div>
      <div class="field-player" style="top:7.5%;left:38%">
        <span class="field-avatar popover popover-right">
            <img data-src="https://cdn.sofifa.org/players/4/19/165153.png">
        </span>
        <a href="/player/192119/thibaut-courtois/" title="Thibaut Courtois" class="bp3-button bp3-minimal bp3-small nowrap">
          
          &nbsp;T. Courtois
        </a>
      </div>

      <div class="field-player" style="top:30%;left:23.92%">
        <span class="field-avatar popover popover-right">
            <img data-src="https://cdn.sofifa.org/players/4/19/165153.png">
        </span>
        <a href="/player/192119/thibaut-courtois/" title="Thibaut Courtois" class="bp3-button bp3-minimal bp3-small nowrap">
          
          &nbsp;T. Courtois
        </a>
      </div>

      <div class="field-player" style="top:30%;left:52.08%">
        <span class="field-avatar popover popover-right">
            <img data-src="https://cdn.sofifa.org/players/4/19/165153.png">
        </span>
        <a href="/player/192119/thibaut-courtois/" title="Thibaut Courtois" class="bp3-button bp3-minimal bp3-small nowrap">
          
          &nbsp;T. Courtois
        </a>
      </div>

      <div class="field-player" style="top:47.5%;left:38%">
        <span class="field-avatar popover popover-right">
            <img data-src="https://cdn.sofifa.org/players/4/19/165153.png">
        </span>
        <a href="/player/192119/thibaut-courtois/" title="Thibaut Courtois" class="bp3-button bp3-minimal bp3-small nowrap">
          
          &nbsp;T. Courtois
        </a>
      </div>

      <div class="field-player" style="top:62.5%;left:1.9376%">
        <span class="field-avatar popover popover-right">
            <img data-src="https://cdn.sofifa.org/players/4/19/165153.png">
        </span>
        <a href="/player/192119/thibaut-courtois/" title="Thibaut Courtois" class="bp3-button bp3-minimal bp3-small nowrap">
          
          &nbsp;T. Courtois
        </a>
      </div>

      <div class="field-player" style="top:70%;left:22.6%">
        <span class="field-avatar popover popover-right">
            <img data-src="https://cdn.sofifa.org/players/4/19/165153.png">
        </span>
        <a href="/player/192119/thibaut-courtois/" title="Thibaut Courtois" class="bp3-button bp3-minimal bp3-small nowrap">
          
          &nbsp;T. Courtois
        </a>
      </div>

      <div class="field-player" style="top:70%;left:53.4%">
        <span class="field-avatar popover popover-right">
            <img data-src="https://cdn.sofifa.org/players/4/19/165153.png">
        </span>
        <a href="/player/192119/thibaut-courtois/" title="Thibaut Courtois" class="bp3-button bp3-minimal bp3-small nowrap">
          
          &nbsp;T. Courtois
        </a>
      </div>

      <div class="field-player" style="top:62.5%;left:73.2616%">
        <span class="field-avatar popover popover-right">
            <img data-src="https://cdn.sofifa.org/players/4/19/165153.png">
        </span>
        <a href="/player/192119/thibaut-courtois/" title="Thibaut Courtois" class="bp3-button bp3-minimal bp3-small nowrap">
          
          &nbsp;T. Courtois
        </a>
      </div>

      <div class="field-player" style="top:83.25%;left:38%">
        <span class="field-avatar popover popover-right">
            <img data-src="https://cdn.sofifa.org/players/4/19/165153.png">
        </span>
        <a href="/player/192119/thibaut-courtois/" title="Thibaut Courtois" class="bp3-button bp3-minimal bp3-small nowrap">
          
          &nbsp;T. Courtois
        </a>
      </div>

    </div>
  </div>


{% endblock content %}